.header{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
}
nav a{
    text-decoration: none;
    color:  #E5E5E5;
    font-size: 17px;
    margin-left: 32px;
}
nav a:hover{
    color: orange; 
}